[Desktop Entry]
Type=Application
Name=Task Manager
GenericName=System Monitor
Comment=Windows Task Manager
Exec=win7-taskmanager
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
StartupNotify=true
